html,body{
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}
nav{
  background-color: #2E00FF;
  padding: 5px;
  font-size: 20px;
  color:white;
  display: flex;
  justify-content: space-between;
}
.seccionmenu{
  padding:60px;
  color:#2E00FF;
  text-align:center;
}
.actividades{
padding: 200px;
background-image: url("../imagenes/diseno.png");
height: 200px;
background-size: cover;
background-position: center top;
padding: 20px;
display: flex;
align-items: center;
}
.actividades2{
  background-color: #FFB58D;
  height: 300px;
  background-position: center top;
  padding: 100px;
  display: flex;
  align-items: center;
  margin-left: -80px;
}
.act .contenido{
  background-color: white;
  padding: 20px;
  color:blue;
  box-shadow: 0 0 1px #2E00FF;
  margin-left: 140px;
}
.act{
  padding: 10px;
}
.boton{
  background-color:#2E00FF;
  color: white;
  font-size: 40px;
  align-items: center;
  cursor:pointer;
}
.boton:hover{
  background-color: lightblue;
}
.botoninicio{
  background-color:white;
  color: #2E00FF;
  font-size: 15px;
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;
  align-items: center;
  cursor:pointer;
}
.botoninicio:hover{
  background-color: lightblue;
}
a{
  text-decoration: none;
}

.fondo{
  background-color: #edf2f7;
}

.titleAltaC{
  text-align: center;
  font-size: 1.875rem;
  font-weight: 300;
}

.flexin{
  align-items: center;
  flex-direction: column;
  display: flex;
}

/* .card{
  width: 10%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  overflow-x: auto;
  border-width: 0;

} */

.cajaForm{
  border-radius: .5rem;
  box-shadow: 0 1px 3px 0;
  overflow: hidden;
  border-bottom-width: 1px;

}

.bg-white{
  background-color: #fff;
}

.p-3{
  padding: 1.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.w-full{
  width: 100%;
  text-transform: uppercase;
  padding: .5rem;
  margin-top: 1.25rem;
  font-weight: 700;
} 

.etiquetaDatos{
  color: #4a5568;
  margin-bottom: .5rem;
  font-size: .875rem;
  font-weight: 700;
  display: block;
}

.cajaDatos{
  width: 80%;
  color: #4a5568;
  color: rgba(74, 85, 104,);
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 1.25;
  border-width: 1px;
  border-radius: .25rem;
}

.botonC{
  cursor: pointer;
  background-color: rgb(37, 60, 165);
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  padding: .5rem;
  margin-top: 1.25rem;
  font-weight: 700;
  background-color: #316697;

}

.cajaConsulta{
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  /* background-color: #edf2f7; */
  display: block;
}

.consultaCBox{
  margin-top: 2.5rem;
  flex-direction: column;
  display: flex;

}

.cardC{
  padding-top: .5rem;
  padding-bottom: .5rem;
  overflow-x: auto;
}

.datosConsulta{
  border-radius: .5rem;
  vertical-align: middle;
  box-shadow: 
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);

  overflow: hidden;
  min-width: 100%;
  display: inline-block;
  border-bottom-width: 1px;
  border-color: #edf2f7;
  border-color: rgba(237,242,247,var(--border-opacity));
}

.tablaDatos{
  min-width: 100%;
  border-collapse: collapse;
}

.texto{
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #718096; 
  color: rgba(113,128,150,var(--text-opacity));
  text-align: left;
  padding-left: .75rem;
  padding-right: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  line-height: 1rem;
  font-size: .75rem;
  font-weight: 500;
  border-bottom-width: 1px;
  border-color: #edf2f7;
  border-color: rgba(237,242,247,var(--border-opacity));
  
}

.bg-white{
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255,255,255,var(--bg-opacity));
}

.imgLeft{
  float: left;
}